// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <

            &kp A      &kp B      &kp C      &kp D      
            &kp E      &kp F      &kp G      &kp H   
            &kp I      &kp J      &kp K      &kp L 
            &kp M      &kp N      &kp O      &kp P      
            &kp Q      &kp R      &kp S      &kp T  
            &kp U    
            &kp U      &kp V      &kp W      &kp X
            &kp Y      &kp Z      &kp 1      &kp 2      
            &kp 3      &kp 4      &kp 5      &kp 6   
            &kp 7      &kp 8      &kp 9      &kp 0 
            &kp COLON      &kp SEMI      &kp EXCL      &kp HASH      
            &kp AMPS                                             
            >;
        };

        right_layer {
            bindings = <
            
            &kp A      &kp B      &kp C      &kp D      
            &kp E      &kp F      &kp G      &kp H   
            &kp I      &kp J      &kp K      &kp L 
            &kp M      &kp N      &kp O      &kp P      
            &kp Q      &kp R      &kp S      &kp T  
            &kp U    
            &kp U      &kp V      &kp W      &kp X
            &kp Y      &kp Z      &kp 1      &kp 2      
            &kp 3      &kp 4      &kp 5      &kp 6   
            &kp 7      &kp 8      &kp 9      &kp 0 
            &kp COLON      &kp SEMI      &kp EXCL      &kp HASH      
            &kp AMPS 
            >;
        };

        left_layer {
            bindings = <
            
            &kp A      &kp B      &kp C      &kp D      
            &kp E      &kp F      &kp G      &kp H   
            &kp I      &kp J      &kp K      &kp L 
            &kp M      &kp N      &kp O      &kp P      
            &kp Q      &kp R      &kp S      &kp T  
            &kp U    
            &kp U      &kp V      &kp W      &kp X
            &kp Y      &kp Z      &kp 1      &kp 2      
            &kp 3      &kp 4      &kp 5      &kp 6   
            &kp 7      &kp 8      &kp 9      &kp 0 
            &kp COLON      &kp SEMI      &kp EXCL      &kp HASH      
            &kp AMPS 
            >;
        };

        tri_layer {
           bindings = <
            
            &kp A      &kp B      &kp C      &kp D      
            &kp E      &kp F      &kp G      &kp H   
            &kp I      &kp J      &kp K      &kp L 
            &kp M      &kp N      &kp O      &kp P      
            &kp Q      &kp R      &kp S      &kp T  
            &kp U    
            &kp U      &kp V      &kp W      &kp X
            &kp Y      &kp Z      &kp 1      &kp 2      
            &kp 3      &kp 4      &kp 5      &kp 6   
            &kp 7      &kp 8      &kp 9      &kp 0 
            &kp COLON      &kp SEMI      &kp EXCL      &kp HASH      
            &kp AMPS 
            >;
        };
    };
};
